<?xml version="1.0"?>
<model>
  <name>x500_e2e_widecam</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>DATABOSS</name>
    <email>n/a</email>
  </author>
  <description>E2E test vehicle: wide-FOV downward camera (2.2 rad) + canonical downward lidar</description>
</model>
